:root {
  --black: #1d1d1d;
  --darkred: #740001;
  --red: #ae0001;
  --yellow: #eeba30;
  --darkyellow: #d3a625;
}
body {
  background-color: var(--black);
  font-family: 'harry_pregular', Arial, Helvetica, sans-serif;
}
.jumbotron {
  background-color: var(--darkred);
  color: var(--yellow);
}
.jumbotron h4 {
  max-width: 75%;
  margin: 0 auto;
}
section h3 {
  font-family: 'harry_pregular', Arial, Helvetica, sans-serif;
}
#addTrain, #currentSchedule {
  background-color: #ffffff;
  color: var(--dark);
  padding: 0 15px;
  border-radius: 0.3rem;
  font-family: 'Times New Roman', Times, serif;
}
#addTrain header, #currentSchedule header {
  background-color: var(--darkred);
  color: var(--yellow);
  padding: 20px 0;
  border-radius: 0.3rem 0.3rem 0 0;
}
#currentSchedule {
  margin-bottom: 30px;
}
#new-train-form label {
  line-height: 2;
  margin-top: 15px;
}
#new-train-form input {
  width: 100%;
}
#new-train-form #submit-btn {
  background-color: var(--red);
  font-family: 'harry_pregular', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 5px 25px;
  margin: 20px auto;
  color: var(--darkyellow);
  border-radius: 0.3rem 0.3rem 0 0;
}
@font-face {
  font-family: 'harry_pregular';
  src: url('../fonts/harryp__-webfont.woff2') format('woff2'),
       url('../fonts/harryp__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 5.5rem;
  }
  .jumbotron h4 {
    font-size: 3rem;
  }
  section h3 {
    font-size: 2.5rem;
  }
}